DATABASE_URL="postgresql://tomfic:tomfic_local_only@localhost:5433/tomfic_dev"
AUTH_MODE="local"
COGNITO_USER_POOL_ID="us-east-1_CwHsH9aYt"
COGNITO_CLIENT_ID="eduhshrl5uoj7v0edffufhkf8"
AUTH_MODE="local"
COGNITO_USER_POOL_ID=""
COGNITO_CLIENT_ID=""
